<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TigerBites Student Menu</title>

    <!-- homemade CSS for this page -->
    <link rel="stylesheet" type="text/css" href="static/css/menu.css">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap-minty.css" rel="stylesheet">

  </head>

  <body>
    <div class="header form-signin" id="first-element">
        <h3 class="font-weight-light text-center">Menu</h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="column">
                    <ul class="list-group day-menu weekend prototype">
                        <li class="list-group-item list-group-item-primary">
                            Sunday
                        </li>
                        <li class="list-group-item list-group-item-secondary">Lunch</li>
                        <li class="list-group-item list-group-item-secondary">Dinner</li>
                        
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-group day-menu prototype">
                        <li class="list-group-item list-group-item-primary">
                            Monday
                        </li>
                        <li class="list-group-item list-group-item-secondary">Breakfast</li>
                        <li class="list-group-item list-group-item-secondary">Lunch</li>
                        <li class="list-group-item list-group-item-secondary">Dinner</li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-group day-menu">
                        <li class="list-group-item list-group-item-primary">
                            Tuesday
                        </li>
                        <li class="list-group-item list-group-item-secondary">Breakfast</li>
                        <li class="list-group-item list-group-item-secondary">Lunch</li>
                        <li class="list-group-item list-group-item-secondary">Dinner</li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-group day-menu">
                        <li class="list-group-item list-group-item-primary">
                            Wednesday
                        </li>
                        <li class="list-group-item list-group-item-secondary">Breakfast</li>
                        <li class="list-group-item list-group-item-secondary">Lunch</li>
                        <li class="list-group-item list-group-item-secondary">Dinner</li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-group day-menu">
                        <li class="list-group-item list-group-item-primary">
                            Thursday
                        </li>
                        <li class="list-group-item list-group-item-secondary">Breakfast</li>
                        <li class="list-group-item list-group-item-secondary">Lunch</li>
                        <li class="list-group-item list-group-item-secondary">Dinner</li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-group day-menu">
                        <li class="list-group-item list-group-item-primary">
                            Friday
                        </li>
                        <li class="list-group-item list-group-item-secondary">Breakfast</li>
                        <li class="list-group-item list-group-item-secondary">Lunch</li>
                        <li class="list-group-item list-group-item-secondary">Dinner</li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-group day-menu weekend">
                        <li class="list-group-item list-group-item-primary">
                            Saturday
                        </li>
                        <li class="list-group-item list-group-item-secondary">Lunch</li>
                        <li class="list-group-item list-group-item-secondary">Dinner</li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-group day-menu weekend">
                        <li class="list-group-item list-group-item-primary">
                            Daily
                            {% for item in dailyItems %}
                        <li class="list-group-item menu-item">
                            {{item}}
                        {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Bootstrap core JavaScript 
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
    <!-- Plugin JavaScript
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
-->
    <!-- Custom scripts for this template 
    <script src="/static/js/creative.min.js"></script>
-->

    <!-- homemade javascript for this template -->
    <script src="static/js/menu.js"></script>

  </body>

</html>
{% endblock %}