
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TigerBites Admin Menu</title>

  </head>

  <body>
    <div class="header form-signin">
        <div class="card border-danger mb-3 form-signin" style="max-width: 30rem;">
              <div class="card-header">Order Takeout</div>
              <div class="card-body">
                <h4 class="card-title">{{currPeriod}}</h4>
                <div class="form-group">
                    {% for item in displayItems %}
                      <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                            <label class="custom-control-label" for="customRadio1">{{item}}</label>
                      </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                  <select class="custom-select">
                    <option selected="">Select Pick-up Time</option>
                    <option value="1">6:00-6:30</option>
                    <option value="2">6:30-7:00</option>
                    <option value="3">7:00-7:30</option>
                    <option value="3">7:30-8:00</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="exampleTextarea">Extra notes</label>
                  <textarea class="form-control" id="exampleTextarea" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary close-animatedOrderModal">Submit</button>
              </div>
            </div>
    </div>
    <!-- Bootstrap core JavaScript 
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
    <!-- Plugin JavaScript
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
-->
    <!-- Custom scripts for this template 
    <script src="/static/js/creative.min.js"></script>
-->

    <!-- homemade javascript for this template -->
    
    <script src="static/js/adminmenu.js"></script>

  </body>

</html>
{% endblock %}